.App {
  text-align: center;
}
.nav{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 58px;
  width: 100%;
  background-color: white;
  z-index: 1000;
  pointer-events: auto;
}
.body_stop_scroll{
  height: 100vh;
  overflow: hidden;
}
.slide_nav{
  box-sizing: border-box;
  display: block;
  padding: 0px;
  right: 0px;
  z-index: 1050;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  animation-name: fadeInUp;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}
.languages_div{
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  text-align: center;
  margin-top: 70px;
}
.languages_div p{
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}
.languages_div hr{
  box-sizing: border-box;
  border: none;
  border-top: 1px solid rgb(87, 89, 98);
  opacity: 0.2;
  width: 90%;
}
.contact_div{
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  right: 0px;
  left: 0px;
}
.contact_div button{
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: bolder;
  appearance: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 100px;
  padding: 9px 12px;
}
.contact_div button div{
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 5px;
  direction: ltr;
}
.b_menu{
  box-sizing: border-box;
  display: flex;
  background-color: rgb(255, 255, 255);
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: rgb(87, 89, 98);
  position: relative;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 15%) 2px 2px 5px;
  cursor: pointer;
  margin: 12px;
}
.cart span{
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: #575962;
}
.cart{
  box-sizing: border-box;
  display: flex;
  background-color: rgb(255, 255, 255);
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: rgb(87, 89, 98);
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 15%) 2px 2px 10px;
  cursor: pointer;
  margin: 12px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
}
.remove_order{
  box-sizing: border-box;
  display: flex;
  background-color: rgba(87, 89, 98, 0.568);
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  font-weight: bolder;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 15%) 2px 2px 10px;
  cursor: pointer;
  margin: 12px;
  position: absolute;
  left: -15px;
  top: -20px;
}
.display{
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}
#order_div{
  position: static;
  margin: 50px 0;
}
.logo{
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 2 1 0%;
  text-align: center;
  background-color: transparent;
}
.title{
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  position: relative;
  margin: 0;
}
.intro{
  margin-top: 15px;
  padding: 0 10px;
}
.description{
  box-sizing: border-box;
  line-height: 22px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: normal;
  color: rgb(61, 63, 70);
}

.scrolling>[data-arrow=right]{
  background: linear-gradient(270deg,#fff 10%,hsla(0,0%,100%,0));
  right: 0;
  position: absolute;
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 99;
}
.scrolling>[data-arrow=right]>button{
  background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg)  50%  no-repeat;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  outline: 0;
  transform: scale(.5);
}

.scrolling>[data-arrow=left]{
  background: linear-gradient(90deg,#fff 10%,hsla(0,0%,100%,0));
  left: 0;
  position: absolute;
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 99;
}
.scrolling>[data-arrow=left]>button{
  background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) 50% no-repeat;
  background-color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  outline: 0;
  transform: rotate(
  180deg) scale(.5);
}
.active{
  color: black;
  font-weight: bold;
}
.section_images_div h3{
  display: none;
}
.menu_section{
  box-sizing: border-box;
  width: 120px;
  height: 135px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: rgb(61, 63, 70);
}

.menu_section:first-of-type{
  margin-left: 15px;
}
.menu_section:last-of-type{
  margin-right: 15px;
}
.menu_section img{
  width: 120px;
  height: 80px;
  border-radius: 4px;
  object-fit: cover;
}
.menu_section hr{
  border:none;
  box-sizing: border-box;
  border-top: 1px solid rgb(0, 0, 0);
  animation-duration: 0.7s;
  animation-name: fadeInLeft;
}

a {
  text-decoration: none;
  color: rgb(61, 63, 70);
}

.none{
  display: none;
}
.items_container{
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  padding-bottom: 80px;
}
.item_div{
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 16px;
  min-height: 65px;
  margin: 10px 0;
  animation-duration: 0.7s;
  animation-name: fadeIn;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 15%) 2px 2px 10px;
  display: flex;
  position: relative;
}
.item_div img{
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}
.item_info{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex: 1 1 100%;
  margin-right: 10px;
  text-align: right;
}
.item_info p{
  margin: 0;
}
.details{
  display: flex;
  flex-direction: column;
}
.details_div{
  margin-top: 20px;
}

.item_name{
  box-sizing: border-box;
  font-size: 22px;
  font-weight: bolder;
  line-height: 40px;
  color: rgb(87, 89, 98);
  margin: 0;
}
.item_price{
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 8px;
}
.item_description{
  margin: 0;
}

p, h1, h2, h3, h4, h5 {
  color: rgb(87, 89, 98);
}



/* //////////////////////////////DashBoard////////////////////////////// */

.side_menu{
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 60px;
  height: 90vh;
  color: rgb(87, 89, 98);
  position: relative;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 15%) 2px 2px 5px;
  cursor: pointer;
  margin: 0 0 40px;
  float: left;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashBoard{
  height: 100vh;
  overflow: hidden;
}
.dash_div{
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 20vh;
  color: rgb(87, 89, 98);
  position: relative;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 15%) 2px 2px 5px;
  cursor: pointer;
  margin: 0 0 40px;
  float: left;
  /* padding: 0 10px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll ;
}
.orders_container{
  padding-left: 100px;
  padding-right: 50px;
}
.branch_statistics{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.table p{
  width: 150px;
  text-align: left;
}
.table:first-of-type{
  position: sticky;
  top: 0;
  background-color: white;
}
.table:first-of-type p{
  color: #ff8b00;
  font-weight: bolder;
}
.dash_menu_div{
  width: 100%;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 70px;
  align-items: center;
  padding-top: 30px;
  overflow: scroll;
  box-shadow: rgb(0 0 0 / 15%) 2px 2px 5px;
}
.dash_menu_div_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(87, 89, 98);
  position: relative;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) 2px 2px 5px;
  cursor: pointer;
  width: 95%;
}
.dash_menu_div_item img{
  object-fit: cover;
}
.unavailable{
  background-color: rgba(0, 0, 0, 0.09);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
}
select {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 2em;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
}




form{
  background-color: rgba(0, 0, 0, 0.04);
  height: 100%;
}
form input[type=submit] {
  width: 100%;
  background-color: #9c27b0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type=submit]:hover {
  background-color: #ba68c8;
}


/* select:hover {
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(-135deg, transparent 50%, #fff 50%),
    linear-gradient(-225deg, transparent 50%, #fff 50%),
    linear-gradient(#fff 42%, #ff8b00 42%);
}

select:active {
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(-135deg, transparent 50%, #fff 50%),
    linear-gradient(-225deg, transparent 50%, #fff 50%),
    linear-gradient(#fff 42%, #ff8b00 42%);
  color: #ff8b00;
  border-color: #fff;
  background-color: #fff;
} */


@keyframes s-ripple {
  0% {
      transform: scale(0);
  }
  20% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}
@keyframes s-ripple-dup {
 0% {
     transform: scale(0);
  }
 30% {
      transform: scale(1);
  }
  60% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}
.control-checkbox input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}

@keyframes fadeInLeft{
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
  }
  
  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0px);
  }
}
@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px);
}
100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  
  .items_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .menu_section:first-of-type{
    margin-left: 0;
  }
  .menu_section:last-of-type{
    margin-right: 0;
  }
  .item_div{
    display: block;
    width: 350px;
  }
  .item_div img{   
    width: 100%;
    min-height: 150px;
    object-fit: cover;
    margin-top: 10px;
  }
  .menu_section{
    margin: 20px 0;
    width: 30%;
    height: 335px;
    overflow: hidden;
  }
  .menu_section img{   
    width: 95%;
    height: 290px;
    object-fit: cover;
  }
  .section_blur{
    position: absolute;
    top: 0;
    left: 2.5%;
    background-color: rgb(82, 74, 74);
    opacity: 0.6;
    height: 290px;
    width: 95%;
    border-radius: 4px;
    transition: opacity 500ms;
  }
  .section_blur:hover{
    opacity: 0;
  }
  .mobile_title{
    display: none;
  }
  .section_images_div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section_images_div h3{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: block;
  }
  .App, .slide_nav{
    padding: 40px 20px 0;
  }
  .details img{
    width: auto;
    object-fit: cover;
    order: 2;
  }
  .details{
    height: 90vh;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
  }
  .details .b_menu{
    right: 0;
    margin-right: 40px;
    order: 3;
  }
  .details_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    flex-grow: 1;
  }
  .order_div{
    padding: 0 30%;
  }
}